DISCORD_TOKEN=your_discord_token_here

# Nom de la classe considérée comme externe (ex: EXTERNE, EXT2024...)
EXTERNAL_CLASS=EXTERNE

# Docker
COMPOSE_PROJECT_NAME=trf-bot

# MongoDB
MONGO_USER=admin
MONGO_PASSWORD=changeme
MONGO_DB=trfbot
